.new-participant {
    background-color: white;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, 25%);
    padding:1.6em;

    &__form-item {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &.float-right {
            width:100%;
            display: flex;
            justify-content: flex-end;
        }
    }
}


