.partable {
    width: 91.2rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: flex-start;
   

    &__heading,
    &__body,
    &__tr {
        display: flex;
    }

    &__heading,
    &__body {
        width: 100%;
        background-color: white;
        margin-bottom: 1rem;

        display: grid;
        grid-template-columns: repeat(4,1fr);

    }
    

   

    
}