.participants-view {
    height: 100%;
    max-width: 91.2rem;
    margin: 0 25% auto;

    &__heading {
        font-size: 3rem;
        margin: 3.2rem 0 3.2rem;
        width: 90%;
        max-width: 91.2rem;
        font-weight: 300;
    }
}

