$color-primary: #bdc3c7;
$color-secondary: #e6e6e6;
$color-tertiary: #e6e6e6;
$color-text: #7f8c8d;
$color-text-editing: #656868;
$color-shadow: #7d7e7e;
$color-text-light: #cad4d4;
$color-border-light: rgba(gray,0.3);
$color-border-lighter: rgba(rgb(196, 196, 196),0.3);
$color-border-editing: rgba(rgb(68, 4, 4),0.3);

.borderless {
    border: none !important;
}

.app-button {
    height: 4rem;
    width: 12rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-text;
    font-size: 1.6rem;
    border-radius: 4px;
    background-color: $color-tertiary;
    transition: all .2s;

    &:hover {
        cursor: pointer;
        box-shadow: .06rem .06rem 1rem $color-shadow;
        transform: translateY(-2spx);
    }

    &:active {
        box-shadow: none;
    }
}