$color-primary: #bdc3c7;
$color-secondary: #e6e6e6;
$color-tertiary: #e6e6e6;
$color-text: #7f8c8d;
$color-text-editing: #656868;
$color-shadow: #7d7e7e;
$color-text-light: #cad4d4;
$color-border-light: rgba(gray,0.3);
$color-border-lighter: rgba(rgb(196, 196, 196),0.3);
$color-border-editing: rgba(rgb(68, 4, 4),0.3);
$color-border-editing-error: rgba(rgb(161, 7, 7),0.3);
$color-warn: red;
$color-success: green;
$color-action-button-blue: #07f;
$color-action-button-grey: #e3e6e8;

.borderless {
    border: none !important;
}

.app-button {
    background: none;
    border: 0;
    height: 4rem;
    -webkit-appearance:none;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-text;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.6rem;
    margin: .2rem;
    background-color: $color-action-button-grey;
    cursor: pointer;

    &.primary {
        background-color: $color-action-button-blue;
        color:white;
    }

    &.secondary {
        background-color: $color-action-button-grey;
        color: $color-action-button-blue; 
    }

    &.warn {
        background-color: $color-warn;
        color:white;
    }

    &.success {
        background-color: $color-success;
        color:white;
    }
}