@import './styles/foundation-icons/foundation-icons.css';
@import './styles/variables';
@import './styles/app';
@import './styles/header';
@import './styles/participants';
@import './styles/new-participant';
@import './styles/partable';
@import './styles/single-input';
@import './styles/alert';


*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
 
body {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  background-color: $color-secondary; 
}
